@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --border: 1px solid black;

    --bgPrimary: #2C2C2C;
    --bgAccent: #3B3B3B;
    --txtPrimary: #E8E6E3;
    --txtSecondary: #BEBEBE;
    --accentPrimary: #C28865;
    --accentSecondary: #8DB8C9;
    --linksInteractives: #76C7C0;

    --fontPrimary: "Playfair Display", serif;
    --fontSecondary: "Roboto", sans-serif;

    --h1: 48px;
    --h2: 36px;
    --h3: 28px;
    --paragraph: 16px;
    --secondaryText: 14px;
    --navMenu: 18px;
    --buttons: 16px;
}

* {
    padding: 0;
    margin: 0;

    text-decoration: none;
    list-style-type: none;
}

main {
    background-color: var(--bgAccent);
    margin: auto;
}

.main {
    max-width: 1400px;
    margin: auto;
}

main h1 {
    color: white;
    text-align: center;
    text-shadow: .2px .2px .5px black;
    padding: 10px;
    margin: 0;
}

.logo img {
    width: 50px;
}

nav {
    width: auto;
}

.header,
.footerContainer {
    background-color: black;
    color: var(--txtPrimary);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
    margin: 0 25px;

    /* width: 100%; */
}

.navigation li {
    display: block;
    width: 100%;
}

.navigation li a {
    display: block;
    padding: 10px;
    border-radius: 5px;

    color: var(--txtPrimary);
    font-family: var(--fontSecondary);
    font-family: var(--secondaryText);

    text-align: center;
    transition: .3s ease-out;
}

.navigation li a:hover {
    background-color: white;
    color: black;
}

.logoNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 30px;
}

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px;
}

#darkMode,
#hamburger {
    cursor: pointer;
    font-size: 20px;
}

#hamburger {
    display: none;
}

.control {
    cursor: default;
    position: absolute;
    top: 20px;
    right: 10px;
}

.logos img {
    width: var(--h2);
    padding: 0 5px;
}

.chamber,
.logos {
    margin: 0 auto;
}

.chamber p,
.chamber span {
    font-family: var(--fontPrimary);
    font-size: var(--secondaryText);
}

.listGrid {
    padding: 5px;
    /* margin: 10px; */

    text-align: center;
}

.grid,
.list {
    font-size: 18px;
    font-family: var(--fontPrimary);

    padding: 10px;
    border-radius: 5px;

    text-align: center;
    color: black;
    background-color: white;

    box-shadow: 1px 1px 1px black;
    text-shadow: .2px .2px .5px black;
}

.content {
    display: grid;
}

.content.gridDisplay {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.content.listDisplay {
    grid-template-columns: 1fr;
}

.content.gridDisplay .members {
    text-align: center;
}

.content.gridDisplay .members img {
    width: 200px;
}

.content.listDisplay .members {
    text-align: left;
}

.content.listDisplay .members img {
    width: 80vw;
}

.members {
    border: var(--border);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    box-shadow: 1px 1px 2px black;

    font-family: var(--fontPrimary);
    color: white;
    text-shadow: .5px .5px 1px black;
}

.members p,
.members a {
    font-family: var(--fontSecondary);
    color: white;
}

.active {
    background-color: var(--accentPrimary);
    color: var(--bgPrimary);
}

.hero img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.hero {
    height: 50vw;
}

.join {
    position: relative;
}

.join a {
    position: absolute;
    bottom: 10%;
    right: 10%;

    background-color: var(--bgPrimary);
    color: var(--linksInteractives);
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--bgAccent);
    text-shadow: 1px 1px 1px var(--bgPrimary);
    font-family: var(--fontPrimary);

    transition: .3s ease-out;
}

.join a:hover {
    box-shadow: 5px 5px 1px black;
}

.content1,
.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content2 {
    grid-template-columns: 1fr 1fr;
}

.homeContent {
    margin: 5px;
    padding: 5px;
}

.homeContent h1 {
    text-align: left;
    text-shadow: 1px 1px 1px var(--bgPrimary);
    font-size: 1.4rem;
}

.homeContent h2 {
    color: black;
    padding: 2px 10px;
    background-color: var(--accentPrimary);
    font-size: 1.2rem;
    text-align: left;
}

.event,
.weather,
.forecast {
    margin: 10px;
    padding: 2px;
    background-color: var(--bgPrimary);
    color: white;
    text-align: center;
    text-shadow: .2px .2px .2px black;

    border-radius: 3px;
    font-family: var(--fontPrimary);
}

.event h2,
.weather h2,
.forecast h2 {
    border-radius: 3px;
}

.forecast p {
    font-size: x-large;
    font-weight: lighter;
}

.members h3 {
    font-size: medium;
}

.members p {
    font-size: small;
}

.members img {
    width: 100%;
}

form {
    max-width: 50vw;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

label {
    display: block;
    font-size: small;
    margin: 5px;
    padding: 5px;
    color: white;
    text-shadow: 0em 0em 1em black;
    font-family: var(--fontSecondary);
}

label input {
    display: block;
    font-size: large;
    border-radius: 2px;
    border-left: 5px solid red;
    font-family: var(--fontSecondary);
    transition: .2s ease-in;
}

label select {
    display: block;
    font-size: large;
}

label textarea {
    display: block;
    max-width: 45vw;
    min-width: 45vw;
    min-height: 15vh;
    max-height: 15vh;
}

label input:focus {
    border-left: 5px solid green;
}

#submit {
    background-color: var(--bgPrimary);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: var(--fontPrimary);
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

#submit:hover {
    font-size: var(--h2);
    transition: .3s ease-in-out;
}

.display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#details {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-shadow: 0em 0em 1em black;
}

#details h2,
form h2 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

#details h3 {
    font-size: 1.3rem;
    color: white;
}

#details p {
    font-size: 1.2rem;
    color: white;
}

#details div {
    border: 1px solid var(--accentPrimary);
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
}

#details div button {
    background-color: var(--bgPrimary);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 5px auto;
    transition: .3s ease-in-out;
}

#details div button:hover {
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.location h2 {
    text-align: center;
    padding: 10px;
    font-size: x-large;
}

.location p {
    padding: 5px;
}

.location button {
    width: 100%;
}

.container {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container div {
    display: grid;
    grid-template-areas:
        "image name"
        "image address"
        "button button"
    ;
    /* margin: auto; */
    text-align: center;
    padding: 5px;
}

.container div h2 {
    grid-area: name;
}

.container div address {
    grid-area: address;
    display: block;
    margin: auto;
}

.container div img {
    /* display: block; */
    grid-area: image;
    margin: 0;
    width: 300px;
    height: 200px;
    transition: .3s ease;
}

.container div img:hover {
    box-shadow: 0em 0em .5em black;
    transition: .3s ease;
}

.container div button {
    grid-area: button;
}

.card {
    border: 1px solid var(--accentPrimary);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    color: white;
    text-shadow: 0em 0em .1em black;
    box-shadow: 0em 0em .3em black;
}

.card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--accentPrimary);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.card button:hover {
    transition: .3s ease;
    box-shadow: .2em .2em .2em black;
}

dialog {
    margin: auto;
    padding: 10px;
    max-width: 85vw;
    font-size: larger;
    background-color: var(--bgPrimary);
    color: white;
}

dialog h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--accentPrimary);
}

dialog button {
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--accentPrimary);
    color: black;
}

#visited p {
    color: white;
    text-align: center;
    padding: 5px;
}

::backdrop {
    background-image: linear-gradient(45deg, var(--bgPrimary), var(--accentSecondary));
    opacity: .7;
}

#details .detail {
    animation: fadeIn 1s cubic-bezier(0.42, 0, 0.58, 1);
}

#details1 {
    padding: 15px;
    border: 1px solid black;
    max-width: 80vw;
    margin: auto;
    font-family: var(--fontPrimary);
    color: white;
    font-size: large;

    background-color: var(--bgPrimary);
    border-radius: 5px;
    text-shadow: 0em 0em 1em black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
    }

}

@media screen and (max-width: 640px) {
    .footerContainer {
        grid-template-columns: 1fr;
    }

    .chamber {
        margin: 0;
        padding: 10px 0;
    }

    .logos img {
        width: 50px;
    }

    #hamburger {
        display: inline;
    }

    .logoNav {
        flex-direction: column;
        align-items: start;
    }

    .navigation {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    .navigation.open {
        display: flex;
    }

    nav {
        width: 100%;
    }

    .join a {
        font-size: 1rem;
    }

    .content1,
    .content2 {
        display: block;
    }

    .homeContent h1 {
        font-size: 1.5rem;
    }

    .homeContent h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .event,
    .weather,
    .forecast {
        margin: 10px;
    }

    .display {
        grid-template-columns: 1fr;
    }

    form {
        max-width: 95vw;
    }

    label {
        font-size: medium;
    }

    label input {
        font-size: x-large;
    }

    label textarea {
        display: block;
        max-width: 85vw;
        min-width: 85vw;
    }

    #submit {
        font-size: 2rem;
    }

    #details1 {
        font-size: medium;
    }

    .container div {
        grid-template-areas:
            "name"
            "address"
            "image"
            "button"
        ;
    }

    .container div img {
        margin: auto;
    }
    .container div img:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 1024px) {
    .container div {
        display: grid;
        grid-template-areas:
            "image name"
            "image address"
            "button"
        ;
    }

    .container {
        padding: 5px;
        grid-template-columns: 1fr;
    }
}